<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table class="table table-primary table-hover table-responsive table-bordered">
  <thead *ngIf="dataLoaded == true">
    <tr>
      <th>Ürün Adı</th>
      <th>Ürün Kodu</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productName }}</td>
      <td>{{ product.productCode }}</td>
    </tr>
  </tbody>
</table>